h2 {
    padding-top: 60px;
    padding-bottom: 20px;
}

p.contact-link {
    margin: 8px;
    font-size: 16px;
}
.contact-link a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 22.4px;
    margin-bottom: 22.4px;
}

.contact-link a:visited {
    color: black;
}

.contact-link a, .contact-link a:visited {
    transition: color 1.4s;
    -webkit-transition: color 1.4s;
}



.contact-link:after, .contact-link:visited:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 1s;
}

.contact-link:hover:after, .contact-link:visited:hover:after {
    width: 100%;
    color: #c42000;
    background: #c42000;
}

.contact-link:hover, .contact-link:visited:hover {
    color: #c42000;
    cursor: pointer;
}

.spacer {
    margin: 20px;
}
