.project-left, .project-right {
    margin-bottom: 50px;
}

.project-title {
    margin-top: 0px;
    padding-top: 0px;
}

.project-desc {
    font-size: 20px;
}

.tech-icon {
    margin: 8px;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 9px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 6px;
    width: 56px;
    float: left;
    -webkit-transition: color 1.8s;
    transition: color 2s;
}

.tech-icon:hover {
    color: #c42000;
}

.pic-container {
}

.pic-container img {
    border: 3px solid black;
    border-radius: 9px;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 100%;
}

.more {
    -webkit-transition: color 1.4s;
}

.less {
    -webkit-transition: color 1.4s;
}

.more:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: black;
    transition: 1s;
}

.less:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 1s;
}
.more:hover:after {
    width: 100%;
    color: #c42000;
    background: #c42000;
}

.less:hover:after {
    width: 100%;
    color: #c42000;
    background: #c42000;
}

.more:hover, .less:hover {
    color: #c42000;
    cursor: pointer;
}
